#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.card {
  padding: 32px;
  display: flex;
  position: relative;
}

.card p {
  margin-right: 32px;
}

.card button {
  margin-right: 32px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.reorder {
  animation: fadeIn 0.5s ease-in-out;
  position: absolute;
  margin-left: 330px;
}