.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 500px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal h1 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 10px;
}

.modal__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.required {
  color: red;
}

.error__message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.form__note {
  margin-top: 16px;
  font-size: 12px;
}

.form__control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form__control label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

.form__control input {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 44rem) {
  .modal {
    width: 350px;
  }
  .modal__content {
    display: block;
  }
  .form__control {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    max-width: 350px;
  }

  .form__control input {
    width: 100%;
  }
}
